RewriteEngine On
RewriteBase /PENJUALAN/Penjualan/

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home/?$ index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/?$ views/admin/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahadmin/?$ views/admin/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahadmin/?$ views/admin/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editadmin/?$ views/admin/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapusadmin(\d+)/?$ views/admin/hapus.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pelanggan/?$ views/pelanggan/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahpelanggan/?$ views/pelanggan/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahpelanggan/?$ views/pelanggan/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editpelanggan/?$ views/pelanggan/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapuspelanggan(\d+)/?$ views/pelanggan/hapus.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^kurir/?$ views/kurir/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahkurir/?$ views/kurir/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahkurir/?$ views/kurir/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editkurir/?$ views/kurir/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapuskurir(\d+)/?$ views/kurir/hapus.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^barang/?$ views/barang/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahbarang/?$ views/barang/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahbarang/?$ views/barang/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editbarang/?$ views/barang/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapusbarang(\d+)/?$ views/barang/hapus.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^transaksi/?$ views/transaksi/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahtransaksi/?$ views/transaksi/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahtransaksi/?$ views/transaksi/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edittransaksi/?$ views/transaksi/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapustransaksi(\d+)/?$ views/transaksi/hapus.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^penjualan/?$ views/penjualan/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahpenjualan/?$ views/penjualan/tambah.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^proses_tambahpenjualan/?$ views/penjualan/proses_tambah.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editpenjualan/?$ views/penjualan/edit.php?page=$1 [L,QSA] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapuspenjualan(\d+)/?$ views/penjualan/hapus.php?id=$1 [L,QSA]